<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643508141084-hp2q9h7k9oasu21amq9mkn45e5vo6g97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643508141084-hp2q9h7k9oasu21amq9mkn45e5vo6g97</string>
	<key>API_KEY</key>
	<string>AIzaSyDFysA_0CMdh4ugmo6gUfHUTPDbFlJm-oA</string>
	<key>GCM_SENDER_ID</key>
	<string>643508141084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seedSnapApp</string>
	<key>PROJECT_ID</key>
	<string>modile-77666</string>
	<key>STORAGE_BUCKET</key>
	<string>modile-77666.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643508141084:ios:56dde079d717ac7e2a33d9</string>
</dict>
</plist>